:root{

    /*color*/
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --cards-color: #f5f5f5;

    --txt-blk:#000;
    --txt-pera: #e6e6e6;
    --txt-semi-wht: #6d6d6d;
    --extra-color: #cccccc;
   
    /* gradient color  */
    
    --gradient-1: linear-gradient(120deg, #7a93b826, #7a93b808);
    --gradient-2: #7a93b81A;
    --gradient-3: linear-gradient(360deg, #7a93b826, #7a93b81A);
    
   
    /*others color*/
    --scrollbar-color: #2a2d25;
    --scrollbar-thump:  #ffffe2;
    --scrollbar-hover: #263040;
   
    /* transition  */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.7s ease;
    
    

     /* fontsize  */

     --font-16 : 1rem;
     --font-18 : 1.125rem;
     --font-20 : 1.25rem;
     --font-22: 1.375rem;
     --font-24 : 1.5rem;
     --h1-font : 3.58rem;
     --h2-font : 3.25rem;
     --h3-font : 2rem;
     --h4-font : 1.5rem;
}


/* Small devices (phones) */
@media (max-width: 600px) {
  :root{
     --font-16 : 0.85rem;
     --font-18 : 1rem;
     --font-20 : 1rem;
     --font-22: 1.05rem;
     --font-24 : 1.05rem;
     --h1-font : 3rem;
     --h2-font : 2rem;
     --h3-font : 1.05rem;
     --h4-font : 1rem;
  }
  #menu{
 right: 10%;

}.primary-btn{
  width: 100%;
}



}

/* Medium devices (tablets) */
@media (max-width: 768px) {
  /* Styles for tablets */
  .container{
   
    padding: 0.5% 1% ;
    margin: 0 1% ;
    
}
   section{
    margin: 2% 1%;
   
}
#hero-slider .slider-container{
 
   height: 100%;

}
.slide .bg-slider-img{
   width: 100%;
   height: 100%;
   top: 0;
   position: absolute;
   
}.bg-slider-img img{
  width: 100%;
  height: 500px;
}

   
}

/* Large devices (small laptops) */
@media (max-width: 1024px) {
  .bg-content .bg-info{
   
    margin-top: -50%;
    

}

  :root{
     --font-16 : 0.85rem;
     --font-18 : 1rem;
     --font-20 : 1.05rem;
     --font-22: 1.15rem;
     --font-24 : 1.25rem;
     --h1-font : 3.25rem;
     --h2-font : 2.65rem;
     --h3-font : 2rem;
     --h4-font : 1.15rem;
  }
  .container{
   
    padding: 0.5% 1% ;
    margin: 0 3% ;
    
}
   section{
    margin: 2% 1%;
   
}
#menu{
  top: 25%;

}header .head{
   
    padding: 30px 0px;
   
}
.head .logo{
    max-width: 100%;
    margin-left: -50px;
}
nav{
        display: none;
    }
    #menu{
        display: flex;
    }
    .head .search{
        margin-right: 35px;
    }
    #close{
      top: -80px;

    } #hero-slider{
    
    margin-top: 20%;
 }
    #hero-slider .slider-container{
 
   height: 500px;

}
.slide .bg-slider-img{
  top: 0;
}
.slide .bg-slider-img::before{
  
   top: 0%;
}
.bg-slider-img .bg-content{
  gap: 20px;
  bottom: 0;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.bg-info h1{
  margin: 0 auto;
  text-align: center;
}
.bg-info P{
  display: none;
} 
#arrival .arrival-content,
  #news .arrival-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .arrival-content .arrival-head{
    justify-content: center;
    align-items: center;
    text-align: center;
  } 
  .arrival-container,
  .arrivalCard-container,
  .collection-container,
  #team .team-container,
   #blog-container,
   .contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }
  .arrival-img-card .arrival-images{
    height: 380px;

  }
  .arrival-images img{
    height: 350px;
  }
  .collection-container .collection-cards{
    text-align: center;
    justify-content: flex-end;
    align-items: center;

  }
  .video{
    height: 70vh;
  }
  .video-txt h3{
    width: 80%;

  }.history-two{
    width: 100%;
  }
  .history-card .history-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .history-content .history-info{
 align-items: center;

 }
 .news-story-container .news-story{
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 5px;
 }
 .footer-container .footer-end{
 flex-direction: column-reverse;
 }
 .footer-container .footer-p{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;

 }#bagHtml{
  width: 90%;
 } 
 #shopSection{
  flex-direction: column;
 }.slideOne-btn{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 }
 .slideOne-btn .btn_one{
  text-align: center;

 }
 .btn_one.b1::before{
  display: none;
 }.slideOne-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .slideOne-container .slideOne-content{
  height: 350px;

 }
 .slideOne-content .slide-img-card{
  height: 300px;
 }
 


 
}

/* Extra large devices (desktops) */
@media (max-width: 1280px) {
  /* Styles for desktops */
  .container{
    max-width: 100%;
    padding: 0.5% 1% ;
    margin: 0 5% ;
    
}
   section{
    margin: 5% 4%;
    max-width: 100%;
    position: relative;
    padding: 25px  0;
}
header .head{
    padding: 20px 10px;
}
header{
  height: 10vh;
  
}
#hero-slider .slider-container{
  
   height: 380px;
  
   
  
}
.bg-info h1{
  margin-top:-30px ;
}
.bg-info P{
  margin-left: 100px;
}
.bg-content .bg-btn-group{
  width: 100%;
}
.primary-btn{
  width: 30%;
}
.arrival-container,
.arrivalCard-container,
.collection-container,
#blog-container,
#team .team-container,
.slideOne-container{
  
    grid-template-columns: repeat(2, 1fr);
    
    gap: 15px;
  }
  .news-container{
    display: flex;
    flex-direction: column;
  
  align-items: flex-start;
  position: relative;
  margin-top: 20px;
  gap: 25px;
  }
  #blogHtml,
  #help,
  #aboutUs{
    margin-top: 12%;
  }
  #help .help-container,
  #deals .deals-container,
  #aboutUs-container{
    justify-content: center;
    flex-direction: column;
  }
  .help-container .help-img{
    width: 100%;
    height: 500px;
    
  }.marquee img{
    height: 350px;
    width: 450px;
  }
  #aboutUs-container .aboutUs-card:first-child{
  
  width: 100%;

} 
.modal-img-card .modal-img{
     
   height: 30vh;
}
  .modal-container {
    flex-direction: column;

  }
  .modal-container .modal-img-card{
    height: auto;

  }
  .modal-container .modal-info{
    width: 100%;
   

  }


}

/* Ultra-wide screens */
@media (max-width: 1536px) {
  /* Styles for very large screens */

  .container{
    max-width: 100%;
    padding: 0.5% 6% ;
    margin: 0 9% ;
    
}
   section{
    margin: 2% 6%;
    max-width: 100%;
    position: relative;
    padding: 25px  0;
}
header .head{
    padding: 40px 90px;
   
}



}

     
    
