:root{

    /*color*/
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --cards-color: #f5f5f5;

    --txt-blk:#000;
    --txt-pera: #e6e6e6;
    --txt-semi-wht: #6d6d6d;
    --extra-color: #cccccc;
   
    /* gradient color  */
    
    --gradient-1: linear-gradient(120deg, #7a93b826, #7a93b808);
    --gradient-2: #7a93b81A;
    --gradient-3: linear-gradient(360deg, #7a93b826, #7a93b81A);
    
   
    /*others color*/
    --scrollbar-color: #2a2d25;
    --scrollbar-thump:  #ffffe2;
    --scrollbar-hover: #263040;
   
    /* transition  */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.7s ease;
    
    

     /* fontsize  */

     --font-16 : 1rem;
     --font-18 : 1.125rem;
     --font-20 : 1.25rem;
     --font-22: 1.375rem;
     --font-24 : 1.5rem;
     --h1-font : 3.58rem;
     --h2-font : 3.25rem;
     --h3-font : 2rem;
     --h4-font : 1.5rem;
    
    

     /* font-weight  */
     
    

     /* z-index  */
     --z-minus:-1;
     --z-zero:0;
     --z-low:1;
     --z-high:10;
     --z-100:100;
     --z-tooltop:1000;
     --z-fix:1100;
     --z-overlay:1110;
     --z-modal:1990;
     --z-max:9999;


    }
    h1,h2,h3,h4,h5{
        font-family: "Inter", sans-serif;
      
        
    }
    

    /* ----------------------------------------
      ============= reset css  ==============
      -------------------------------------------*/
    *,
    *::after,
    *::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       

    }
    li{
        list-style: none;
    }

    a,
    img,
    button,
    i{
        display: block;
        text-transform: capitalize;
    }
    
    input,
    textarea{
          font-family: "Inter", sans-serif;
        
    }
    button{
     background: none;
     border: 0;
     outline: 0;
     cursor: pointer;
    }
    
    a{
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        max-width: 100%;
    }
    img{
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }
   
    html{
        scroll-behavior: smooth;
       
    }
    body{
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        position: relative;
        transition:  all 0.5s ease-in-out;
        animation: zoom 0.5s ease-in-out;
        font-family: "Inter", sans-serif;
          color:var(--txt-blk) ;
          background: var(--primary-color);
        overflow-x: hidden;
        overflow-y: scroll;

       

      
    }
    /* ============----page scroll bar-----============== */
::-webkit-scrollbar{ 
        width: 5px;       
}
  

::-webkit-scrollbar-track { 
        overflow: hidden;
        background-color:var(--scrollbar-color) ;       
}
   
::-webkit-scrollbar-thumb {
   
    border-radius:100px;
    background-color:var(--scrollbar-thump) ;
    transition: 0.3s;
    cursor: grab; 
   
  }
  ::-webkit-scrollbar-thumb:hover{
  background-color: var(--scrollbar-hover);
  }
/* =====================others=========================== */
.container{
    max-width: 100%;
    padding: 0.5% 1% ;
    margin: 0 7% ;
    
}
   section{
    margin: 2% 4%;
    max-width: 100%;
    position: relative;
    padding: 25px  0;
}

@keyframes zoom{
    from{
        transform: scale(0.5);
        opacity: 0;
    }to{
        transform: scale(1);
        opacity: 1;
    }
 }


 /* ======================================================================
    ==============================header start here========================
    ====================================================================== */

header{
    max-width: 100%;
    width: 100%;
    height: 14vh;
    z-index: 100;
    top: 0;
    left: 0;
   position: fixed;
   background: var(--primary-color);
   
}
header .head{
    max-width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 30px 50px;
    gap: 20px;
    position: relative;
}
.head .logo{
    max-width: 100%;
}

.logo a{
    font-size: var(--font-24);
    color: var(--txt-blk);
    font-weight: 500;
    transition: var(--transition-1);
    
}
.logo a:hover{
    letter-spacing: 0.3px;
}
nav{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav li .list-link{
    font-size: var(--font-16);
    color: var(--txt-blk);
    font-weight: 400;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    margin: 0 2px;
    position: relative;
    
    
}
nav li .list-link::before{
    position: absolute;
    content: '';
    width: 0%;
    max-width: 100%;
    bottom: -2px;
    left: 0;
    height: 1px;
    background: var(--secondary-color);
    transition: var(--transition-1);

}
nav li .list-link:hover::before{
    
    width: 100%;

}

/* ==============search body start here==============  */
.head .search{
    max-width: 100%;
}
.search .search-icon{
    font-size: var(--font-24);
    cursor: pointer;
}
#searchBody{
    position: fixed;
    background: rgba(0, 0, 0, 0.801);
    width: 100%;
    height: 100%;
    z-index: 1000;
    max-width: 100%;
    top: 0;
    left: 0;
    display: none;
    padding-top: 12%;
    justify-content: center;
    align-items: flex-start;
    transition: var(--transition-3);
     animation: zoom 0.5s ease-in-out;
}
#searchOne-input{
    position: relative;
    background: var(--primary-color);
    width: 38%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1.5% 2% 1.5% 4%;
    border-radius: 20px;
    border: 0;
    outline: 0;
    font-size: var(--font-18);
    transition: var(--transition-3);
    
}
#searchOne-input::placeholder{
    text-transform: capitalize;
}
#searchBody .searchIcon{
    position: absolute;
    top: 30.5%;
    left: 32.5%;
    color: var(--extra-color);
    cursor: default;
}
.src-close{
    max-width: 100%;
    text-align: center;
    padding: 3px 8px;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border: 1px solid #000;
    z-index: 1;
    cursor: pointer;
    color: red;
     animation: zoom 2s ease-in-out;
}
/* ==============search body ends here==============  */
/* ==============shop card start here==============  */

.dropdown {
      position: relative;
      display: inline-block;
    }
    .shop-dropdown-content{
      max-width: 100%;
    width: 550px;
    height: 280px;
    display: none;
    position: fixed;
    top: 0;
    opacity: 0;
    margin-top: 0px;
    border-radius: 5px;
    left: 48%;
    background: var(--primary-color);
    transform: translateX(-50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    transition: var(--transition-2);
    
    }
   .shop-dropdown-content .shop-card-container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

}
.shop-card-container .shop{
    max-width: 100%;
    width: 100%;
    height: 230px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    
}
.shop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.shop span{
    max-width: 100%;
    font-size: var(--font-16);
    text-transform: capitalize;
    color: var(--txt-semi-wht);
    font-weight: 500;
}
#shopLink{
    max-width: 100%;
    
    color: var(--txt-blk);
    font-size: var(--font-16);
    font-weight: 400;
    text-align: left;
    opacity: 0.9;
    position: relative;
    margin-top: 5px;
    transition: var(--transition-1);
} 

.dropdown:hover .shop-dropdown-content {
      display: block;
      transition: var(--transition-2);
      opacity: 1;
      top: 0;
      margin-top: 58px;
     
}
#shopLink::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--txt-blk);
  transition: var(--transition-1);
}
#shopLink:hover:after{
  width: 100%;
}
#shopLink:hover{
    opacity: 0.8;
}
/* =====================================================================
    ==============================Main start here========================
    ======================================================================   */

 /* =================hero-section================  */
 #hero-slider{
    max-width: 100%;
    margin-top: 10%;
 }
  #hero-slider .slider-container{
   width: 100%;
   max-width: 100%;
   margin: 0 auto;
   height: 430px;
   position: relative;
   
  
}
.slider-container {
  
  overflow: hidden;
}

.slider-container::before,
.slider-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px; /* Adjust as needed */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.slider-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 253, 253, 0.616), transparent);
}

.slider-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 253, 253, 0.616), transparent);
}
.slider-container .slide{
   max-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
   border-radius: 5px;
   box-shadow: rgba(241, 241, 241, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}
.slide .bg-slider-img{
   width: 100%;
   height: 100%;
   top: -45%;
   position: absolute;
   
}
.slide .bg-slider-img::before{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 45%;
   left: 0;
   content: '';
   background: linear-gradient(90deg, #03010031, #08030002);
   overflow: hidden;
   
}
.bg-slider-img .bg-content{
    position: absolute;
    bottom: -35%;
    left: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
    padding: 20px 50px;

}
.bg-content .bg-info{
    max-width: 100%;
    width: 100%;
    

}
.bg-info h1{
    font-size: var(--h1-font);
    text-align: right;
    width: 100%;
    color: var(--txt-pera);
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
    margin-bottom: 20px;
    z-index: 2;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    }

.bg-info P{
    font-size: var(--font-20);
    font-weight: 600;
    width: 80%;
    text-align: right;
    max-width: 100%;
    margin-left: 170px;
    color: var(--scrollbar-hover);
    opacity: 0.8;
    z-index: 2;
}
.bg-content .bg-btn-group{
    width:30%;
    max-width: 100%;
    position: relative;
    transition: var(--transition-1);
    padding: 2px 0;
     

}
.bg-btn-group a{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    transition:  var(--transition-1);
    
   
}
.bg-btn-group a span{
    background: var(--primary-color);
    padding: 13px 25px;
    border-radius: 35px;
    font-size: var(--font-18);
    color: var(--txt-blk);
    font-weight: 500;
     transition: var(--transition-1);
    
     
    
}
.bg-btn-group a i{

    background: var(--primary-color);
    padding: 12px ;
    border-radius: 50%;
    font-size: var(--font-18);
    color: var(--txt-blk);
    font-weight: 500;
     transition: var(--transition-1);
     
    
}
.bg-btn-group:hover a{
    flex-direction: row-reverse;
    transition: var(--transition-1);
     animation: zoom 0.5s ease-in-out;
}

/* .slide .bg-slider-img:not(.on){
   top: 0;
  left: -100%;
} */
span#heroNext, span#heroPrev{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   padding: 5px;
   color: var(--text-wht-a1);
   opacity: 1;
   font-size:var(--f-large);
   color: var(--txt-blk);
  
   transition: 0.5s;
   border-radius: 3px;
   cursor: pointer;
   z-index: 1;
   transition: var(--transition-1);
}
span#heroNext{
   right: 10px;
    transition: var(--transition-1);
}
span#heroPrev{
   left: 10px;
    transition: var(--transition-1);
}
span#heroNext:hover, span#heroPrev:hover{
    background: var(--extra-color);
    border: 1px solid #000;
  
   
}
.dots{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -10px;
   z-index: 3;
   position: absolute;
   bottom: 10%;
   left: 50%;
   /* border: 1px solid #fff; */
   padding: 2px 5px;
   border-radius: 50px;
  
   
}
.dot{
   width: 9px;
   height: 9px;
   border: 1px solid #0000006b;
   border-radius: 50%;
   background: var(--extra-color);
   backdrop-filter: blur(5px);
   margin: 1px;
   cursor: none;
   display: inline-block;
   transition: background-color 0.6s ease-in;
   
}
.dot.active{
   background: #fff;
   width: 30px;
   height: 10px;
   border-radius: 20px;
   transition: var(--transition-1);
}
@keyframes next1{
   from{
       left: 0%
   }
   to{
       left: -100%;
   }
}
@keyframes next2{
   from{
       left: 100%
   }
   to{
       left: 0%;
   }
}

@keyframes prev1{
   from{
       left: 0%
   }
   to{
       left: 100%;
   }
}
@keyframes prev2{
   from{
       left: -100%
   }
   to{
       left: 0%;
   }
}

  /* <!-- =================arrival-section=================  --> */
  #arrival,
  #news{
    max-width: 100%;
    margin-top: 5%;
    
  }
  #arrival .arrival-content,
  #news .arrival-content{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    
  }
  .arrival-content .arrival-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .arrival-head .arrival-heading{
    font-size: var(--h2-font);
    font-weight: 500;
    color: var(--txt-blk);
  }
  .arrival-heading span{
    transition: var(--transition-2);
  }
  .arrival-heading:hover span{
    margin: 1px;

  }
  .arrival-head  p{
    font-size: var(--font-18);
    text-transform: uppercase;
    color: var(--txt-semi-wht);
    margin-top: 12px;
  }
  .primary-btn{
    max-width:  100%;
    width: 20%;
    padding: 13px ;
    border-radius: 35px;
    border: 1px solid var(--extra-color);
    color: var(--txt-blk);
    font-size: var(--font-16);
    transition: var(--transition-1)
    
  }
.primary-btn:hover{
    border: 1px solid var(--txt-blk);

  }
  .arrival-container,
  .arrivalCard-container{
    max-width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5%;
    gap: 25px;
  }

  .arrival-container .arrival-img-card {
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--primary-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1px;
  border-radius: 5px;
  transition: var(--transition-1);
}

.arrival-img-card .arrival-images {
  position: relative;
  width: 100%;
  height: 280px;
}
.arrival-img-card .eye{
    position: absolute;
    bottom: 32%;
    right: 8%;
    font-size: var(--font-22);
    padding: 5px;
    background: #ffffffd0;
    border-radius: 50%;
    color: var(--txt-blk);
    backdrop-filter: blur(2px);
    border: 1px solid #0000005e;
}

.arrival-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: var(--transition-2);
  border-radius: 5px;
}

.arrival-images .img-1 {
  opacity: 1;
  z-index: 1;
}

.arrival-images .img-2 {
  opacity: 0;
  z-index: 0;
}

.arrival-images:hover .img-1 {
  opacity: 0;
}

.arrival-images:hover .img-2 {
  opacity: 1;
}
.arrival-img-card .product-title{
    max-width: 100%;
    text-align: left;
    padding: 5px 15px 0;
    font-size: var(--font-18);
    font-weight: 500;
    color: var(--txt-blk);
}
.arrival-img-card .price{
    font-size: var(--font-18);
    color: var(--txt-semi-wht);
    text-align: left;
    margin-bottom: 5%;
     padding: 0 15px 0;
     font-weight: 500;

}

/* <!-- =================arrivalCards-section=================  --> */
#arrivalCards{
    max-width: 100%;
    padding: 5% 0;
    margin-top: 5%;
    border-top: 1px solid #e0dada;
    border-bottom: 1px solid #e0dada;
}
 .arrivalCard-container{
    margin-top: 0;
 }
  .arrivalCard-container .arrivalCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .arrivalCard span{
    font-size: var(--font-18);
    color: var(--txt-semi-wht);
    font-weight: 600;
  }
  .arrivalCard h4{
    font-size: var(--h4-font);
    font-weight: 600;
    color: var(--txt-blk);
    opacity: 0.9;
    transition: var(--transition-1);
    text-transform: capitalize;
    text-align:left;
  }
  .arrivalCard p{
    font-size: var(--font-16);
    line-height: 25px;
    color: var(--txt-semi-wht);
    text-align:left;
    max-width: 90%;

  }
  .arrivalCard:hover h4{
    letter-spacing: 0.1px;

  }
   /* <!-- =================collections=================  --> */
   #collection{
    max-width: 100%;
    padding-top: 6%;
   }
   .collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
   }
   .collection-container .collection-cards{
    width: 100%;
    height: 320px;
    position: relative;
    overflow: hidden;
    padding: 1px;
    border-radius: 5px;
    transition: var(--transition-2);
   }
   .collection-cards .collection-img{
    width: 100%;
    height: 320px;
    position: relative;
    border-radius: 5px;
   }
   .collection-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: var(--transition-3);

   }
   
   .collection-cards .collection-img:hover img{
    transform: scale(1.2);
    
   }
   .collection-cards .collection-img:hover .collection-bg {
    display: flex;
    transition: var(--transition-2);
    
   }
   .collection-img .collection-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000036;
    backdrop-filter: blur(5px);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: var(--font-24);
    color: var(--txt-pera);
    font-weight: 600;
    text-transform: capitalize;
    word-spacing: 5px;
    transition: var(--transition-2);
    display: none;
   }

   .video{
     max-width: 100%;
    width: 99%;
    margin: 0 auto;
    height:90vh;
    margin-top: 10%;
    position: relative;
    
   }
   .video .ten-slider{
    position: relative;
    width:100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
   }

   .video::before,
.video::after {
  content: "";
  position: absolute;
  top: 0;
  width: 4%; /* Adjust as needed */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.video::before {
  left: 0;
  background: linear-gradient(to right, #ffffff9a, transparent);
}

.video::after {
  right: 0;
  background: linear-gradient(to left, #ffffff9a, transparent);
}
.video-txt{
  position: absolute;
  width: 100%;
  max-width: 100%;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.video-txt h3{
  max-width: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h2-font);
  text-align: center;
  color: var(--primary-color);
  font-weight: 500;
}

 /* <!-- =================our news=================  -->  */
 .news-container{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-top: 20px;
  gap: 25px;
 }
 .news-container .news-card{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
 }
 .news-card .newsImg{
  max-width: 100%;
  width: 100%;
  height: 350px;
  
  border-radius: 5px;
  background: var(--primary-color);
  padding: 2px;
  transition: var(--transition-2);
  position: relative;
  
 }
 .news-card .newsImg::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid var(--primary-color);
  transition: var(--transition-2);
 }
 .news-card .newsImg:hover::before{
   border: 10px solid var(--primary-color);

 }
 .newsImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: var(--transition-2);
  overflow: hidden;
  
 }
 .newsImg:hover .guide-btn{
  top: 8%;
  right: 6%;
  opacity: 1;
  z-index: 2;

 }
 .guide-btn{
  z-index: -1;
  position: absolute;
  top: -10%;
  opacity: 0;
  right: -5%;
  max-width: 100%;
  transition: var(--transition-2);
 }
 .guide-btn p{
  background: var(--secondary-color);
  padding: 5px 12px;
  color: var(--txt-pera);
  border-radius: 35px;
  font-size:14px;
  letter-spacing: -1px;
 }
 .news-card .newscontent{
  max-width: 100%;
  width: 100%;
  background: var(--cards-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  transition: var(--transition-1);
 }
 .news-card .newscontent:hover{
  padding: 42px;
 }
 .newscontent h4{
  max-width: 100%;
  font-size: var(--h3-font);
  font-weight: 500;
  color: var(--txt-blk);
  text-align: left;

 }
 .newscontent p{
  text-align: left;
  color: var(--txt-semi-wht);
  line-height: 25px;
 }
 .news-content-info{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
  width: 100%;
 }
.news-content-info .news-info-card{
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.news-info-card img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.news-info-card .news-pera{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.news-pera span{
  color: var(--txt-blk);
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
}
.news-pera p{
  font-size: 14px;
}
.news-info-date{
  max-width: 100%;
  display: flex;
  
}
.news-info-date span{
  font-size: 14px;
  color: var(--txt-semi-wht);
  font-weight: 500;
}

.news-card .news-story-container{
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.news-story-container .news-story{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
.news-story .newsImg{
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.news-story-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 5% 0;
  width: 100%;
}
.news-story-content h4{
  font-size: var(--font-20);
  text-align: left;
  font-weight: 500;
  color: var(--txt-blk);
  line-height: 30px;
}
.news-story-content p{
  font-size: var(--font-16);
  color: var(--txt-semi-wht);
  text-align: left;
  line-height: 25px;
}


 /* <!-- ================history=================  -->  */

#history{
  max-width: 100%;
  margin: 0;
  background: var(--cards-color);
}

#history-two{
  max-width: 100%;
  margin: 2% 0;
  width: 100%;
 
}




.history-two{
    width: 1280px;
    height: 100%;
    scroll-behavior: smooth;
    max-width: 100%;
    margin: 0 auto;
    display:flex ;
    overflow-x: scroll;
    padding-top: 25px;
}
.history-two::-webkit-scrollbar{
    display: none;
}
 .history-two .history-container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding:8% 10px;
    flex: none;
    
    
 }
 .history-container .history-card{
    
    padding: 25px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    background: var(--primary-color);
 }
 
 .history-two-wrap{
    max-width: 100%;
    width: 100%;
    margin:  0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }
 .history-card .stars{
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
  margin-top: 25px;
 }
 .stars i{
  font-size: var(--font-22);
  color:  var(--txt-semi-wht);
 }
 .history-card h5{
  font-size: var(--font-20);
  margin-bottom: 55px;
  color: var(--txt-semi-wht);
  font-weight: 500;
  text-align: left;


 }
 .history-card .history-content{
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
 }
 .history-content img{
  width: 55px;
  height: 55px;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 2px;
 }
 .history-content .history-info{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: flex-start;
 }
 .history-info p:first-child{
  font-size: var(--font-16);
  color: var(--txt-blk);
  font-weight: 600;
  text-transform: capitalize;
 }
  .history-info p:last-child{
    color: var(--txt-semi-wht);
    font-size: 14px;
    font-weight: 700;
  }
 .history-two-wrap .history-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto ;
    margin-top: -5%;
    
    
 }
 .history-btn #hLeft-btn,
 .history-btn #hRight-btn{
    font-size:var(--font-20);
    cursor: pointer;
    display: block;
    color: var(--primary-color);
    background-color: var(--txt-semi-wht);
    padding: 5px;
    border-radius: 50%;
    opacity: 1;
    transition: var(--transition-1);
    
 }
 .history-btn #hLeft-btn:hover{

    opacity: 0.8;

 }
 .history-btn #hRight-btn:hover{
    
    opacity: 0.8;
 }

 /* <!-- ======================================================================
    ==============================footer start here========================
    ====================================================================== --> */
  
    footer{
      max-width: 100%;
      width: 100%;
      height: 100%;
      background: var(--secondary-color);
      padding: 5% 3%;
      margin-top: 5%;
      position: relative;
    }
    footer .footer-container{
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      
    }
  
    .footer-container .footer-card{
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 25px;
    }
    .footer-card .footer-left{
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      transition: var(--transition-1);
    }
    .footer-left a{
      color: var(--txt-pera);
      
    }
    .footer-left a:nth-child(1){
      font-size: var(--font-24);
      font-weight: 800;
      
    }
    .footer-left a{
      font-size: var(--font-18);
      text-transform: lowercase;
      
      
    }
    .footer-left a:hover:not(a:nth-child(1)){
      text-decoration: underline;
    }
    .footer-card  .footer-right{
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 50px;
 
    }
  .footer-right .footer-links{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: start;
    padding: 5px;
    margin: 5px;

  }
  .footer-links a{
    position: relative;
    color: var(--cards-color);
    font-size: var(--font-16);
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 2px;
    max-width: 100%;
    transition: var(--transition-1);
  }
  .footer-links a::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--txt-semi-wht);
    transition: var(--transition-1);
  }
  .footer-links a:hover::after{
    width: 98%;
  }

  .footer-container .footer-end{
    max-width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 100%;
  }
  .footer-end img{
    max-width: 100%;
    width: 50%;
  }

  .footer-end .newsletter-card{
    max-width: 100%;
    width: 100%;
    padding: 20px 40px;
  
  }
   .newsletter-card  p{
    font-size: var(--font-24);
    color: var(--txt-pera);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 25px;
   }
  .newsletter-card form{
    display: flex;
    justify-content: space-between;
    align-items: start;
   
    max-width: 100%;
    gap: 15px;
  }
  form input{
    width: 100%;
    max-width: 100%;
    padding: 15px 25px;
    border: 0;
    background: #212121;
    outline: 0;
    border-radius: 35px;
    font-size:var(--font-18);
    color: var(--extra-color);

  }
  form button{
    width: 70%;
     background: red;
      max-width: 100%;
    padding: 15px 20px;
    border: 1px solid var(--txt-semi-wht);
    background: var(--secondary-color);
    outline: 0;
    border-radius: 35px;
    color: var(--primary-color);
    font-size:var(--font-16);
    transition: var(--transition-1);
    
  }
   form button:hover{
     border: 1px solid var(--primary-color);

   }
  .footer-container p{
    color: var(--extra-color);
    margin-top: 20px;
    font-size: var(--font-18);
    font-weight: 600;
    opacity: 0.7;
  }

  /* <!-- ======================================================================
    ==============================Bag HTML start here========================
    ====================================================================== --> */

    #bagHtml{
      max-width: 100%;
      width: 70%;
      margin: 10% auto 2%;
      padding: 5% 3% ;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 35px;
    }
    .html-head{
      max-width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .html-head a,
    .html-head p{
      font-size: var(--font-16);
      color: var(--txt-semi-wht);
      word-spacing: 1px;
      cursor: pointer;
      transition: var(--transition-1);

    }
    .html-head a:hover{
      color: var(--txt-blk);
    }
    .html-head p{
      padding-left: 5px;
    }
    #bagHtml h3{
      font-size: var(--h3-font);
      font-weight: 500;
      color: var(--txt-blk);
      opacity: 0.9;
    }
    .html-content{
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .html-content .html-content-card img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 2px;
      border: 1px solid var(--txt-semi-wht);
    }
    .html-content .html-content-card{
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .html-content-card .content-info{
      max-width: 100%;
    }
    .content-info p:first-child{
      font-size: var(--font-16);

      color: var(--txt-blk);


    }
    .content-info p:last-child,
    .html-content p{
      font-size: 14px;
      font-weight: 600;

      color: var(--txt-semi-wht);


    }
    #bagHtml .htmlImg{
      width: 100%;
      max-width: 100%;
      height: 500px;
      border-radius: 5px;
      object-fit: cover;
      margin: 2% auto;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    #bagHtml .mainPage{
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      gap: 25px;
    }
    #bagHtml .mainPage  p{
      font-size: var(--font-16);
      line-height: 25px;
      max-width: 100%;
    }
    #bagHtml  .mainPage h4{
      font-size: var(--font-24);
      color: var(--txt-blk);
      font-weight: 500;
      margin: 1% 0;
      
    }

    /* <!-- ======================================================================
    ==============================Blog HTML start here========================
    ====================================================================== --> */
    #blogHtml{
      max-width: 100%;
      margin-top: 8%;
    }

  #blog-container{
    max-width: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
    gap: 25px;
    align-items: flex-start;
  }
  #blog-container .blogCard{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    transition: var(--transition-2);
    border: 1px solid var(--cards-color);
    padding: 5px;
    margin-top: 15px;
    
  }
  .blogCard::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 1px solid var(--primary-color);
    transition: var(--transition-2);
  }
  .blogCard:hover::before {
    border: 15px solid var(--primary-color);
  }
  .blogCard img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
    border: 1px solid var(--primary-color);
    transition: var(--transition-2);
   
    background: var(--primary-color);
  }
  .blogCard .guidebtn{
    position: absolute;
    top: -10%;
    opacity: 0;
    right: -10%;
    padding: 5px 10px;
    background: var(--secondary-color);
    color: var(--txt-pera);
    font-size: 14px;
    letter-spacing: -1px;
    border-radius: 35px;
    transition: var(--transition-2);
    z-index: 2;
  }
  .blogCard:hover .guidebtn{
    opacity: 1;
    top: 5%;
    right: 5%;
  }
  .blogCard .blogContent{
    z-index: 3;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;  
    padding: 5px 10px 25px;
  }
  .blogContent h4{
    font-size: var(--font-22);
    color: var(--txt-blk);
    opacity: 0.9;
    font-weight: 500;
    text-align: left;
  } 
  .blogContent p{
    font-size: var(--font-16);
    text-align: left;
    color: var(--txt-semi-wht);

  }
 
  
  